[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
authors = ["Dalton Maag <sd@daltonmaag.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/googlefonts/fontheight"
publish = false

[dependencies]

[lints]
workspace = true
