on:
  push:
    branches:
      - main
  pull_request:

name: Build & test

# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  build-test:
    name: Stable Rust
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Checkout ${{ github.head_ref || github.ref_name }}
        uses: actions/checkout@v4
      - name: Build
        shell: bash
        run: cargo build --all-features
      - name: Test
        shell: bash
        run: cargo test --all-features
